<div class="row">
    <div class="column small-12">
        <h2>I Owe You a Beer!</h2>

        <form role="form" ng-submit="addTodo()">
          <div class="row collapse">
            <div class="column small-10">
                <input type="text" ng-model="todo" placeholder="What needs to be done?" class="form-control">
            </div>
            <div class="column small-2">
                <input type="submit" class="button primary postfix" value="Add">
            </div>
          </div>
        </form>

        <div ui-sortable ng-model="todos">
            <div class="form-group row collapse" ng-repeat="todo in todos" style="padding:5px 10px; cursor: move;">
                <div class="column small-11">
                    <input type="text" ng-model="todo" class="form-control">
                </div>
                <div class="column small-1">
                    <button class="button alert postfix" ng-click="removeTodo($index)" aria-label="Remove">X</button>
                </div>
            </div>
        </div>
    </div>
</div>
